name: Golang

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]

jobs:
  go-cmd:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
      - name: goCmd Test ^github.com 
        run: |
          . .\golang\goCmd.ps1
          Get-GO-Repos github.com/davidkhala/chaincode
          Remove-GO-Repos github.com/davidkhala/chaincode
      - name: goCmd Test ^https:// .git$
        run: |
          . .\golang\goCmd.ps1
          Get-GO-Repos https://github.com/davidkhala/chaincode.git
          Remove-GO-Repos https://github.com/davidkhala/chaincode.git
      - name: goCmd Test ^https://
        run: |
          . .\golang\goCmd.ps1
          Get-GO-Repos https://github.com/davidkhala/chaincode
          Remove-GO-Repos https://github.com/davidkhala/chaincode
        

      
